* {
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: Oswald;
	src: url(../static/Oswald.ttf); 
}

:root {
    --purpur: #d83f87;
    --dark: #2a1b3d;
    --blue: #44318d;
    --gray: #a4b3b6;
    --mauve: #a06796;
}

html {
    scroll-behavior: smooth;
    font-family: "Oswald", serif;
    font-size: 16px;
    color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.welcome {
    display: flex;

    width: 100%;
    min-height: 800px;
    background-image: url('../static/head2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.welcome-text {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.welcome-text span:first-child {
    line-height: 100px;
}

.welcome-text span:last-child {
    font-size: 50px;
    letter-spacing: 2px;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.logo {
    display: flex;
    position: absolute;
    margin-left: 15px;
    width: 40px;
    height: 30px;
    background-image: url('../static/laptop.svg');
    background-repeat: no-repeat;
    transform: scale(1.5);
}

.header__nav li {
    margin-right: 15px;
}

.header__nav li:last-child {
    margin-right: 0;
}

.about-me {
    width: 100%;
    min-height: 1000px;
    background-color: var(--dark);
}